body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
body {
  background-color: #f7f7f7;
}
.header {
  width: 100%;
  background-color: #FF7800;
  padding: 12px 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header a {
  position: absolute;
  top: 10px;
  width: 28px;
}
.header a img {
  width: 100%;
}
.header a.navigationbar {
  left: 5px;
}
.header a.search {
  right: 5px;
}
.header h2 {
  color: #FFF;
  display: block;
  width: 100%;
  text-align: center;
}
.swiper-bg {
  margin-top: 50px;
}
.swiper-pagination-bullet-active {
  background: #FF7800;
}
.swiper-slide a > img {
  width: 100%;
}
.tab-links {
  width: 100%;
  background-color: #fff;
}
.tab-links .tab-item {
  display: block;
  width: 20%;
  float: left;
  padding: 10px 0;
}
.tab-links .tab-item a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.tab-links .tab-item a img {
  width: 60%;
  display: inline-block;
  margin-bottom: 10px;
}
.cupon {
  margin-top: 5px;
  width: 100%;
}
.cupon a img {
  width: 100%;
  height: 50px;
}
.hot {
  background-color: #fff;
  width: 100%;
  margin: 10px 0;
}
.hot .hot-title {
  width: 100%;
  display: block;
  padding: 10px 0;
}
.hot .hot-title .hot-name {
  float: left;
  font-weight: bold;
  font-size: 16px;
}
.hot .hot-title .hot-name span {
  display: inline-block;
  width: 5px;
  height: 16px;
  background-color: #FF7800;
  margin-left: 10px;
}
.hot .hot-title .more {
  float: right;
  color: #FF7800;
  font-weight: bold;
  font-size: 16px;
}
.hot .hot-title .more span {
  display: inline-block;
  text-align: center;
  width: 12px;
  height: 18px;
  background-color: #FF7800;
  margin-left: 10px;
  color: #fff;
  margin-right: 5px;
  margin-left: 2px;
}
.hot .hot-topic,
.hot .rec-swiper {
  padding: 5px 0 20px;
  text-align: left;
}
.hot .hot-topic .detail img,
.hot .rec-swiper .detail img {
  width: 100%;
}
.hot .hot-topic .detail .detail-text,
.hot .rec-swiper .detail .detail-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.hot .hot-topic .detail .price,
.hot .rec-swiper .detail .price {
  margin-top: 10px;
}
.hot .hot-topic .detail .price h3,
.hot .rec-swiper .detail .price h3 {
  color: #FF7800;
  font-size: 20px;
}
.hot .hot-topic .detail .price h3 del,
.hot .rec-swiper .detail .price h3 del {
  font-size: 16px;
  color: #aaa;
  margin-left: 2px;
}
.hot .recommend {
  text-align: center;
}
.hot .recommend .rec-item {
  position: relative;
  width: 100%;
}
.hot .recommend .rec-item img {
  width: 100%;
}
.hot .recommend .rec-item .text {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -100px;
  display: inline-block;
  color: #fff;
}
.hot .recommend .rec-item .text h2 {
  border-top: 1px solid #fff;
  padding-top: 5px;
}
.hot .recommend .icon-sj {
  position: relative;
  top: -20px;
}
.to-the-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  z-index: 100;
}
.to-the-top img {
  width: 100%;
}
